<?xml version="1.0"?>
<!--
/**
 * @category    M2Commerce Enterprise
 * @package     M2Commerce_YoutubeWidget
 * @copyright   Copyright (c) 2025 M2Commerce Enterprise
 * @author      dawoodgondaldev@gmail.com
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
   	<router id="admin">
      	<route id="logviewer" frontName="logviewer">
        	<module name="M2Commerce_LogViewer" before="Magento_Backend" />
      	</route>
   	</router>
</config>
